**Operaciones matemáticas con Python**

*Realiza un programa que cumpla con el siguiente algoritmo, utilizando siempre que sea posible, operadores en asignación:
Guarda en una variable numero_magico el valor 12345679 (sin el 8)
Asignar a otra variable numero_usuario. Hay que especificar que sea entre 1 y 9 (asegúrate que es un número)
Multiplica el numero_usuario por 9 en sí mismo
Multiplica el numero_magico por el numero_usuario en sí mismo
Finalmente muestra el valor final del numero_magico por pantalla.*

In [ ]:
print("**************************************")
print("*Vamos a realizar algunas operaciones*")
print("**************************************")
print()

numero_magico = 12345679
while True:
  try:
    numero_usuario = int(input("Por favor ingrese un número del 1-9 "))
    if numero_usuario > 0 and numero_usuario < 10:
      numero_usuario = numero_usuario * 9
      numero_magico = numero_magico * numero_usuario
      print("el número mágico es ", numero_magico)
      break
    else:
      print("el dato ingresado no corresponde a un número del 1-9")
  except ValueError:
    print("Debes ingresar un número valido")
print("Gracias por seguir las indicaciones correctamente")

**************************************
*Vamos a realizar algunas operaciones*
**************************************

Por favor ingrese un número del 1-9
Debes ingresar un número valido
Por favor ingrese un número del 1-9
Debes ingresar un número valido
Por favor ingrese un número del 1-9 0
el dato ingresado no corresponde a un número del 1-9
Por favor ingrese un número del 1-9 s
Debes ingresar un número valido
Por favor ingrese un número del 1-9 dddd
Debes ingresar un número valido
Por favor ingrese un número del 1-9 22
el dato ingresado no corresponde a un número del 1-9
Por favor ingrese un número del 1-9 1
el número mágico es  111111111
Gracias por seguir las indicaciones correctamente

**Identificar el tipo de dato en Python**

*Identifica el tipo de dato (int, float, string o list) de los siguientes valores literales:*

*   "Hola Mundo"
*   [1, 10, 100]
*   -25
*   1.167
*   ["Hola", "Mundo"]
*   True
*   ' '
*   A={Uno:"uno", Dos:"dos"}

In [ ]:
print("******************************************")
print("*Vamos a comprobar algunos tipos de datos*")
print("******************************************")
print()

"Hola Mundo"
[1, 10, 100]
-25
1.167
["Hola", "Mundo"]
' '
True
A={1:"uno", 2:"dos"}

print(type("Hola mundo"))
print(type(10))
print(type(1.167))
print(type([]))
print(type(' '))
print(type(True))
print(type(A))

******************************************
*Vamos a comprobar algunos tipos de datos*
******************************************

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'str'>
<class 'bool'>
<class 'dict'>

**Escritura de código en Python**

*Siguiendo la recomendaciones de PEP 8, describir y solucionar el error del siguiente bloque de instrucciones.*

*   n = 10
*   if n> 5:
*   print “n es grande”

In [ ]:
print("************************************")
print("*Vamos a  realizar una comprobación*")
print("************************************")
print()

n = 10
if n > 5:
  print("n es mas grande que 5")

************************************
*Vamos a  realizar una comprobación*
************************************

n es mas grande que 5

**Verificaciones de tipos de datos con Python**

In [ ]:
x = 10/5e-3+1
print(x)
print(type(x))

2001.0
<class 'float'>

In [ ]:
x = "africa"
y = "base"
print(x > y)

False

**Ejercicios con Python**

**Ejercicio 1:** *Dada una cantidad en pesos, obtener la equivalencia en dólares, asumiendo que la unidad cambiaría a un dato desconocido.*

In [ ]:
import random
unidad_cambiaria = random.uniform(3500, 4200)

peso = float(input("Ingrese el valor en pesos "))
valor_dolares = peso / unidad_cambiaria
redondeo = round(valor_dolares, 2)
print("el valor del dolar hoy es ", unidad_cambiaria)
print("El valor en dolares es " , redondeo)

Ingrese el valor en pesos 2000
el valor del dolar hoy es  3649.574708745879
El valor en dolares es  0.55

**Ejercicio 2:** *Calculo de la masa de un objeto*

In [ ]:
print("Ejercicio numero 3: Cálculo de la masa")
presion=float(input("Ingrese la presión (Pa): "))
volumen=float(input("Ingrese el volumen (m^3): "))
temperatura=float(input("Ingrese la temperatura (K): "))
masa=(presion*volumen)/(0.37*(temperatura+460))
print("La masa del objeto es: ",masa,"kg")

Ejercicio numero 3: Cálculo de la masa
Ingrese la presión (Pa): 2
Ingrese el volumen (m^3): 3
Ingrese la temperatura (K): 3
La masa del objeto es:  0.0350242250890199 kg

**Ejercicio 3:** *Calculo del valor absoluto de un valor*

In [ ]:
numero=float(input("ingrese un valor:"))
valor_absoluto= abs(numero)
print("el valor absoluto es: ", valor_absoluto)

ingrese un valor:33
el valor absoluto es:  33.0

**Ejercicio 4:** *Calculo del pago de horas extras de acuerdo a las siguientes situaciones*

*   *Un trabajador revise el pago de horas extras si trabajó más de 50 horas por semana.*
*   *Si el trabajador realiza 8 o menos horas extras, estas horas adicionales se pagan al doble de una hora normal.*
*   *Si el trabajador realiza más de 8 horas extras, las primeras 8 horas adicionales se pagan al doble de una hora normal, las siguientes al triple.*

In [ ]:
horas_trabajadas = float(input("Ingrese la cantidad de horas trabajadas: "))
valor_hora = float(input("Ingrese el valor de la hora: "))

if horas_trabajadas > 40:
    horas_extras = horas_trabajadas - 40
    if horas_extras < 8:
        pago_horas_extras = horas_extras * (valor_hora * 2)
        pago_total = (40 * valor_hora) + pago_horas_extras
    elif horas_extras >= 8:
        pago_horas_extras = (horas_extras - 8) * (valor_hora * 3)
        horas_extras = 8 * (valor_hora * 2)
        pago_horas_extras = horas_extras + pago_horas_extras
        pago_total = (40 * valor_hora) + pago_horas_extras
    print("El pago total es: $", pago_total)
else:
  print("El pago total es: $", horas_trabajadas * valor_hora)

Ingrese la cantidad de horas trabajadas: 32
Ingrese el valor de la hora: 1000
El pago total es: $ 32000.0

**Ejercicio 5:** *Compara la edad entre tú y un amigo tuyo*

In [ ]:
print('Ingresa tu edad y la de tu mejor amigo, para decirte la relación qué hay entre ellas ')
#Lee la primera edad
edad1=int(input('Ingresa tu edad: '))
edad2=int(input('Ingresa la edad de tu mejor amigo: '))


if edad1==edad2:
    print(edad1,'es igual',edad2,'\n Tu amigo y tú, tienen la misma edad.')
if edad1 !=edad2:
    print(edad1,' es diferente de',edad2,'\n Tu amigo y tú tienen edades diferentes.')
if edad1 < edad2:
    print(edad1,' es menor que',edad2,'\n Tu amigo es mayor que tú.')
if edad1 > edad2:
    print(edad1,' es mayor que',edad2,'\n Tu amigo es menor que tú.')
if edad1 <= edad2:
    print(edad1,' es menor o igual a',edad2,'\n Tu amigo tiene al menos, tu edad.')
if edad1 > edad2:
    print(edad1,' es mayor que',edad2,'\n Tu amigo tiene a lo más, tu edad.')

Ingresa tu edad y la de tu mejor amigo, para decirte la relación qué hay entre ellas
Ingresa tu edad: 33
Ingresa la edad de tu mejor amigo: 32
33  es diferente de 32
 Tu amigo y tú tienen edades diferentes.
33  es mayor que 32
 Tu amigo es menor que tú.
33  es mayor que 32
 Tu amigo tiene a lo más, tu edad.

**Ejercicio 6:** *Calculo de la superficie de un cuadrado conociendo uno de sus lados*

In [ ]:
lado = int(input("Ingrese la medida del lado del cuadrado: "))
superficie = lado * lado
print("La superficie del cuadrado es ")
print (superficie)

Ingrese la medida del lado del cuadrado: 5
La superficie del cuadrado es
25

**Ejercicio 7:** *Asigna dos números a variables y realiza las operaciones básicas (suma, resta, multiplicación y división).*

In [ ]:
num1 = 10
num2 = 5
suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2
division = num1 / num2

print(f"Suma: {suma}, Resta: {resta}, Multiplicación: {multiplicacion}, División: {division}")

Suma: 15, Resta: 5, Multiplicación: 50, División: 2.0

**Ejercicio 8:** *Asigna un número a una variable y utiliza operadores de asignación para incrementar y decrementar su valor.*

In [ ]:
num = 8
num += 3  # Incrementa en 3
num -= 2  # Decrementa en 2

print(f"Nuevo valor de num: {num}")

Nuevo valor de num: 9

**Ejercicio 9:** *Asigna dos valores booleanos y realiza operaciones lógicas (AND, OR, NOT).*

In [ ]:
bool1 = True
bool2 = False
resultado_and = bool1 and bool2
resultado_or = bool1 or bool2
resultado_not = not bool1

print(f"AND: {resultado_and}, OR: {resultado_or}, NOT: {resultado_not}")

AND: False, OR: True, NOT: False

**Ejercicio 10:** *Asigna dos números decimales y realiza operaciones de redondeo y potencia.*

In [ ]:
decimal1 = 3.14
decimal2 = 2.5
redondeo = round(decimal1)
potencia = decimal1 ** decimal2

print(f"Redondeo: {redondeo}, Potencia: {potencia}")

Redondeo: 3, Potencia: 17.471255712810116

**Ejercicio 11:** *Crea dos listas y realiza operaciones de concatenación y repetición.*

In [ ]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
concatenacion = lista1 + lista2
repeticion = lista1 * 2

print(f"Concatenación: {concatenacion}, Repetición: {repeticion}")

Concatenación: [1, 2, 3, 4, 5, 6], Repetición: [1, 2, 3, 1, 2, 3]

**Ejercicio 12:** *Asigna un número entero e implementa operadores de comparación (<, >, ==).*

In [ ]:
entero = 15
es_mayor = entero > 10
es_menor = entero < 20
es_igual = entero == 15

print(f"Mayor: {es_mayor}, Menor: {es_menor}, Igual: {es_igual}")

Mayor: True, Menor: True, Igual: True

**Ejercicio 13:** *Asigna dos números enteros y utiliza operadores módulo y de división entera.*

In [ ]:
num_entero1 = 25
num_entero2 = 7
modulo = num_entero1 % num_entero2
division_entera = num_entero1 // num_entero2

print(f"Módulo: {modulo}, División Entera: {division_entera}")

Módulo: 4, División Entera: 3

**Ejercicio 14:** *Crea dos tuplas y realiza operaciones de concatenación y repetición.*

In [ ]:
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)
concatenacion_tuplas = tupla1 + tupla2
repeticion_tupla = tupla1 * 2

print(f"Concatenación de Tuplas: {concatenacion_tuplas}, Repetición de Tupla: {repeticion_tupla}")

Concatenación de Tuplas: (1, 2, 3, 4, 5, 6), Repetición de Tupla: (1, 2, 3, 1, 2, 3)

**Ejercicio 15:** *Realiza operaciones aritméticas con variables de diferentes tipos.*

In [ ]:
entero_mixto = 10
decimal_mixto = 3.5
resultado_mixto = entero_mixto * decimal_mixto

print(f"Resultado Mixto: {resultado_mixto}")

Resultado Mixto: 35.0

**Ejercicio 16:** *Calcular el área de un círculo con un radio dado*

In [ ]:
import math

radio = float(input("Ingrese el valor del radio del circulo: "))
area = math.pi * (radio*2)
print(f"Un circulo con radio: {radio} tiene un área de: {area}")

Ingrese el valor del radio del circulo: 6
Un circulo con radio: 6.0 tiene un área de: 37.69911184307752

**Ejercicio 17:** *Convertir una temperatura en grados Celsius a Fahrenheit*

In [ ]:
celsius = float(input("Ingrese el valor en grados Celsius: "))
fahrenheit = (9/5) * celsius + 32
print(f"Una temperatura de: {celsius} grados Celsius equivale a: {fahrenheit} grados Faherenheit ")

Ingrese el valor en grados Celsius: 23
Una temperatura de: 23.0 grados Celsius equivale a: 73.4 grados Faherenheit

**Ejercicio 18:** *Crear una calculadora de propina. Dado el total de la cuenta y el porcentaje de propina deseado, calcular el monto de propina y el total final.*

In [ ]:
cuenta = float(input("Ingrese el valor de la cuenta: "))
porcentaje = float(input("Ingrese el porcentaje de propina que desea aportar: "))
porcentaje = porcentaje/100
valor_propina = porcentaje * cuenta
cuenta_neta = valor_propina + cuenta
print(f"El valor total de la cuenta a pagar es: ${cuenta_neta}. \nMuchas gracias por su compra")

Ingrese el valor de la cuenta: 1000
Ingrese el porcentaje de propina que desea aportar: 23
El valor total de la cuenta a pagar es: $1230.0.
Muchas gracias por su compra

**Ejercicio 19:** *Calcular el precio final de un producto después de aplicar un descuento. Se proporcionan el precio original y el porcentaje de descuento.*

In [ ]:
valor_inicial_producto = float(input("Ingrese el valor del producto: "))
descuento= float(input("Ingrese el descuento que desea aplicar: "))
descuento = descuento/100
valor_descuento = descuento * valor_inicial_producto
valor_final = valor_inicial_producto - valor_descuento
print(f"El valor final del producto es: ${valor_final}. \nSu descuento fue de: ${valor_descuento} \nMuchas gracias por su compra.")

Ingrese el valor del producto: 10000
Ingrese el descuento que desea aplicar: 12
El valor final del producto es: $8800.0.
Su descuento fue de: $1200.0
Muchas gracias por su compra.

**Ejercicio 20:** *Determinar la edad de una persona dados su año de nacimiento y el año actual.*

In [ ]:
from datetime import datetime

anio_nacimiento = int(input("Ingrese su año de nacimiento: "))
edad = datetime.now().year - anio_nacimiento
print(f"su edad actual es: {edad}")

Ingrese su año de nacimiento: 1992
su edad actual es: 32

**Ejercicio 21:** *Calcular la velocidad media de un objeto. Se dan la distancia recorrida y el tiempo empleado.*

In [5]:
distancia_recorrida_m = 100
tiempo_empleado_min = 2
velocidad_media = distancia_recorrida_m / tiempo_empleado_min
print(f"La velocidad media del corredor es de {velocidad_media} m/min")

La velocidad media del corredor es de 50.0 m/min

**Ejercicio 22:** *Crear una calculadora de índice de masa corporal (IMC). Se proporciona el peso en kilogramos y la altura en metros.*

In [12]:
weight_kil = 61
height_m = 1.75
IMC = weight_kil / (height_m * height_m)
print(f"El indice de masa corporal es {IMC}")

El indice de masa corporal es 19.918367346938776

**Ejercicio 23:** *Calcular la suma de los primeros n números pares. El valor de n se proporciona como entrada.*

In [18]:
n = int(input("Ingrese un número entero: "))
suma = 0
for i in range(0,n+1):
  if i % 2 == 0:
    suma = suma + i
print(f"La suma de los primeros n números pares es {suma}")

Ingrese un número entero: 6
La suma de los primeros n números pares es 12

**Ejercicio 24:** *Calcular la raíz cuadrada de un número dado. Utiliza la función sqrt del módulo math*

In [20]:
import math

num = float(input("Ingrese un valor númerico: "))
raiz = math.sqrt(num)
print(f"La raiz cuadrada de {num} es: {raiz}")

Ingrese un valor númerico: 6.9
La raiz cuadrada de 6.9 es: 2.6267851073127395

**Ejercicio 25:** *Calcular el monto final después de ciertos años utilizando la fórmula del interés simple:*

In [23]:
initial_value = 1000
tasa_interes = 0.16
time = 5
final_value = initial_value * (1 + tasa_interes * time)
print(f"El monto final del valor inicial de ${initial_value}, con una tasa de interés de {tasa_interes * 100}% a {time} anios es de ${final_value}")

El monto final del valor inicial de $1000, con una tasa de interés de 16.0% a 5 anios es de $1800.0

**Ejercicio 26 - Bonus:** *Crea una lista de todos los números del 1 a 100 que sean divisibles por un número que introduzca el usuario. Este número tiene que estar comprendido entre 2 y 7. Pinta la lista por pantalla.*

In [ ]:
lista = []
numero_usuario = int(input("Ingrese un número entre 2 y 7: "))
while 2 > numero_usuario or numero_usuario > 7:
  print("El número debe estar entre 2 y 7.")
  numero_usuario = int(input("Ingrese un número entre 2 y 7: "))
if 2 <= numero_usuario <= 7:
  for i in range(1, 101):
    if i % numero_usuario == 0:
      lista.append(i)
print(lista)

Ingrese un número entre 2 y 7: 10
El número debe estar entre 2 y 7.
Ingrese un número entre 2 y 7: 7
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]